@import '../../styles/colors.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $primary;
  color: white;
  display: flex;
  z-index: 9999999;
  box-shadow: 0 4px 8px 0 $shadow;
}
  
.navbutton {
  text-transform: uppercase;
  color: white;
  font-weight: $font-bold;
  padding: 20px;
  display: inline-block;
  background-color: $primary;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background: $hover;
  }

  &.active {
    background: $active;
  }
  }