$font-stack:    Helvetica, sans-serif;
$grey: rgb(47,47,47);
$hover: rgba(15, 80, 63, 0.6);
$active: rgb(15, 80, 63);
$shadow: rgba(0,0,0,0.2);
$orange: #94470e;
$blue: rgb(17, 68, 103);
$primary: rgba(9, 109, 105, 0.57); 

$font-bold: 800;

$alert: red;
$success: green;
