@import '../../styles/colors.scss';

.details {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.row {
    margin-bottom: 10px;
    color: $grey;
}

.pos {
    color: $success;
}

.neg {
    color: $alert;
}


