@import '../../styles/colors.scss';

.container {
  padding-top: 50px;
}

.graph {
  min-height: 400px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 $shadow;
  padding: 10px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}
